<%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label 'Title:' %></td><td><%= f.text_field :title, :size => 15 %></td>
  </tr>
  <tr>
    <td><%= f.label 'X:' %></td><td><%= f.text_field :x, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Q:'%></td><td><%= f.text_field :q, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Z:'%></td><td><%= f.text_field :z, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'R:'%></td><td><%= f.text_field :r, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Y:'%></td><td><%= f.text_field :y, :size => 6 %></td>
  </tr>
</table>