<div class="user-form-edit" style="padding-left: 20px">
  <% @user.password = @user.password_confirmation = nil %>

  <%= flash[:notice] %>
  <%= flash[:error] %>
  <%= error_messages_for :user %><br />

  <% form_for @user, edit_password_user_url(@user) do |f| -%>
    <table class="change-password">
      <tr>
        <td> <label for="username"> User Name: </label> </td>
        <td> <b><%=  @user.login %></b> </td>
      </tr>
      <tr>
        <td> <label for="email">Email</label> </td>
        <td> <%= f.text_field :email %> </td>
      </tr>
      <tr>
        <td> <label for="password">New Password:</label> </td>
        <td> <%= f.password_field :password %> </td>
      </tr>
      <tr>
        <td> <label for="password_confirmation">Confirm New Password</label> </td>
        <td> <%= f.password_field :password_confirmation %> </td>
      </tr>
    </table>

    <p><%= submit_tag 'Update' %></p>
  <% end -%>
</div>
