<dl class="listing-labels">
  <dd style="width:30px;text-align:left;">&nbsp;</dd>
  <dd style="width:300px;text-align:left;">
    <%= sort_link_to_remote 'Debate', :debates, :update => 'div-users' %>
  </dd>
  <dd style="width:70px;">
    <%= sort_link_to_remote 'Arguments', :arguments, {:update => 'div-users'},  'down' %>
  </dd>
  <dd style="width:60px;">
    <%= sort_link_to_remote 'Ratings', :ratings,  {:update => 'div-users'}, 'down' %>
  </dd>
  <dd style="text-align:left;">
    <%= sort_link_to_remote 'last updated', :updated_at,  {:update => 'div-users'},'down' %>
  </dd>
  <dd style="text-align:left;">
    <%= sort_link_to_remote 'Retired', :is_live,  {:update => 'div-users'}, 'down' %>
  </dd>
  <dd style="width:20px;text-align:left;">&nbsp;  </dd>
</dl>


<dl>
  <dd class="listings" id="users" style="height:360px;border:1px solid #CCCCCC;border-top:0;">
  <% i = params[:page].blank? ? 0 : (params[:page].to_i-1)*@debates.per_page %>
  <% for debate in @debates %><% i += 1 %>
  <dl style="clear:both;">
      <dd style="width:30px;text-align:left;">
        <%= i %>
      </dd>
      <dd style="width:300px;text-align:left;">
        <%= link_to debate.debate_title , debate_url(debate) %>
      </dd>
      <dd style="width:70px;">
        <%= debate.arguments_count %>
      </dd>
      <dd style="width:60px;">
        <%= debate.ratings_count %>
      </dd>
      <dd style="text-align:left;width:85px;">
        <%= debate.debate_updated_at.to_date.strftime('%b. %d, %Y') %>
      </dd>
	  <dd style="width:30px;text-align:left;">
	        
      <% @retire_status = debate.is_live? ? "unretire" : "retire" %>
        <span id="retire_stats"> 
         <span id="retire_status_link_<%=debate.id%>"><%=link_to "#{@retire_status}",'#' ,:id=> "#{debate.id}" %></span>
        <img src="/images/spinner-small.gif" id="debates-search-spinner_<%=debate.id%>" style="display:none" />
        </span>
  
          </dd>
		  <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>" />
	   <dd style="width:30px;text-align:right;">
        <%= link_to "X" , admin_debate_path(debate) , :confirm => "Are you sure to delete this debate" , :method => :delete , :title => "Delete this debate" %>
      </dd>
  </dl>
  <% end %>
  </dd>
</dl>

<dl style="clear:both;">
  <dd>
    <%= will_paginate(@debates, :renderer => 'RemoteLinkRenderer',
      :remote => {:with => "'usersonly=true&amp;start_time=#{params[:start_time]}&amp;c=#{params[:c]}&amp;d=#{params[:d]}&amp;\'",
      :update => 'div-users'}) %>
  </dd>
</dl>
<%#= javascript_tag 'RetireStatsHandlers()' %>