
<div style="background-color:white; min-height:500px;padding:20px; border: medium double gray">
  <h2>Listing Categories</h2>
  <div id="error-msg"> </div>
  <div style="margin: 10px 0 10px 0; text-align: center">
    <% remote_form_for(
      TimeSpec.new,
      :url => '/admin/category_stats',
      :update => "stats_display",
      :before => "if(!validateDates()) {return false;}",
      :html => {:id => "stats-search"}
    )do |f| %>
      Start: <%= f.text_field :start_time, :size => 8 %>
      &nbsp;&nbsp; End Date: <%= f.text_field :stop_time,:size => 8 %>
     <%= submit_tag 'Go' %>
    <% end -%>

    or <%= timeline_links('category_stats') %> Days | <%= link_to_remote "Show All", :update => "stats_display", :url => admin_home_url(:category_stats) %>
  </div>
  <div id="stats_display" style="clear:both;"><%= render :partial => 'category_stats' %></div>
</div>
