<div id="content_top_box"><p class="page_title" style="font-size: 27px;">Argument Ratings</p></div>
<div id="content_box">
<% if !@argument.blank? %>
  <div class="a_top_left_text">
    Category: <%= link_to @argument.debate.category.name, debates_url(:category_id => @argument.debate.category_id) %>
    <div class="arg_rating_top" > Argument Rating:
      <span class="a_<%= @argument.argument_type == 'pro' ? 'blue' : 'red' %>_title" id="aa_rating_<%= @argument.id %>" >
        <%= ratting_score(@argument) %><%= rating_tooltip_script("aa_rating_#{@argument.id}") %></span>
      <span  class="a_<%= @argument.argument_type == 'pro' ? 'blue' : 'red' %>_title" id="aa_vetting_<%= @argument.id %>">
        <%= vetting_score(@argument) %><%= vetting_tooltip_script("aa_vetting_#{@argument.id}") %></span>
    </div>
  </div>

  <div class="a_top_right_text">Arg. ID <%= @argument.id %>, created <%= @argument.created_at.strftime('%b. %d, %Y') %></div>
  <div class="clear_both"></div>

 <%- if argument_show_draft_info?(@argument) -%>
    <div style="text-align:center;margin-top:8px;margin-bottom:-8px; font-size: 14px;font-weight: bold;">This argument is a DRAFT and is not public. </div>
<% end -%>

  <div id="<%= mktree_node_dom_id(@argument) %>">
    <div class="a_red_arg_title"> Argument: <%= @argument.full_title %> </div>
    <div class="a_body_title">Clarification:</div>
    <div class="a_body_text"><%= argument_body(@argument) %> </div>
  </div>
    <div class="rating_middle_data">
<table cellpadding="0" cellspacing="0" border="0" class="list_debate">
  <tr>
    <td><%= sort_link('User Name', :username_id, {}, params[:d] == 'up' ? 'down' : 'up', {:id => "d_category_label"}) %></td>
    <td><%= sort_link('Full Name', :fullname_id, {},params[:d] == 'up' ? 'down' : 'up', {:id => "d_category_label"}) %></td>
    <td style="text-align: center;" >Group</td>
    <td style="text-align: center;">clarity</td>
    <td style="text-align: center;">accuracy</td>
    <td style="text-align: center;">relevance</td>
    <td>weight</td>
  </tr>
  <% @ratings.each do |rate| %>
  <tr>    
    <td style="text-align: left;"><%=rate.user.login%></td>
    <td style="text-align: left;"><%=rate.user.name%></td>
    <td style="text-align: center;"><% if !rate.user.group.blank? %> <%=rate.user.try(:group).try(:name)%> <% else %> - <% end %> </td>
    <td style="text-align: center;"><%=rate.clarity%></td>
    <td style="text-align: center;"><%=rate.accuracy%></td>
    <td style="text-align: center;"><%=rate.relevance%></td>
    <td>weight</td>
  </tr>
  <% end  %>
 
</table>
       <%= will_paginate @ratings, :params => params %>
     
    </div>
<div class="clear_both">&nbsp;</div>
 <% else %>
<p>No Ratings</p>
      <% end %>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>