<table>
  <tr>
    <td><%= f.label 'Resource Type:' %>&nbsp;&nbsp;</td><td><%= f.select("resource_type", Shortcut::CATEGORIES, {:prompt => "Select a category"},{:onchange => "selectCat(this.value)"}) %>
</td>
  </tr> 
  <tr id="resource_id" style="display:none;">
    <td><%= f.label 'resource_id:' %></td><td><%= f.text_field :resource_id, :size => 6 %></td>
  </tr>
</table>
<% if !@shortcut.errors.blank? %>
<table id="resource_name">
  <tr>
    <td><%= f.label 'resource_url ' %></td><td><%= f.text_field :resource_url, :size => 35 %></td>
  </tr>
  <tr>
    <td><%= f.label 'resource_name:'%></td><td><%= f.text_field :resource_name, :size => 26 %></td>
  </tr>  

</table>
<% else %>
<table id="resource_name" style="display:none;" >
  <tr>
    <td><%= f.label 'resource_url ' %></td><td><%= f.text_field :resource_url, :size => 35 %></td>
  </tr>
  <tr>
    <td><%= f.label 'resource_name:'%></td><td><%= f.text_field :resource_name, :size => 26 %></td>
  </tr>  

</table>
<% end %>
