<table>
  <tr>
    <td><%= f.label 'Title:' %></td><td><%= f.text_field :title, :size => 15 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of debates created  ' %>(A)</td><td><%= f.text_field :a, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of arguments are in those debates:' %>(B)</td><td><%= f.text_field :b, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of ratings (total) within the arguments of that debate:'%>(C)</td><td><%= f.text_field :c, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of arguments the user has authored :'%>(D)</td><td><%= f.text_field :d, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of arugments the user has rated :'%>(E)</td><td><%= f.text_field :e, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of 1st level replies have been made to their arguments:' %>(F)</td><td><%= f.text_field :f, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of second level replies have been made to their arguments:' %>(G)</td><td><%= f.text_field :g, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Do they have a picture on the site:'%>(H)</td><td><%= f.text_field :h, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of arguments are they watching:'%>(I)</td><td><%= f.text_field :i, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of total ratings have other users made on their arguments:'%>(J)</td><td><%= f.text_field :j, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Average total rating on their arguments:'%>(K)</td><td><%= f.text_field :k, :size => 6 %></td>
  </tr>
<tr>
    <td><%= f.label 'Average total clarity rating on their arguments:' %>(L)</td><td><%= f.text_field :l, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Average total accuracy rating on their arguments:'%>(M)</td><td><%= f.text_field :m, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'Average total relevance rating on their arguments:'%>(N)</td><td><%= f.text_field :n, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of videos have they embedded:'%>(O)</td><td><%= f.text_field :o, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of images have they embedded:'%>(P)</td><td><%= f.text_field :p, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of  links have they added:'%>(Q)</td><td><%= f.text_field :q, :size => 6 %></td>
  </tr>
  <tr>
    <td><%= f.label 'No of  tags have they added:'%>(R)</td><td><%= f.text_field :r, :size => 6 %></td>
  </tr>
</table>
